<section>

  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <div class="box">

    <div class="head-aluno">
      <h1>Editar Aluno</h1>
      <%= image_tag "user/useredit.png", class:"useredit" %>
    </div>
    <div  class="form">
      <%= render 'form', aluno: @aluno %>
    </div>
  </div>

</section>
